@media(max-width: 1200px){
    .footer{
        height:100vh;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 10vw;

    }
}
@media (min-width: 1200px){
.footer{
    height:100vh;
    ul, article{
        padding:0%;
        margin: 0%;
        text-decoration: none;
        
    }
    .f-git{
        font-size: 15vw;
    }
    .f-links{
        font-size: 7vw;
    }
    .f-cont{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 99vh;
    
    }
}

}