body{
  margin: 0%;
  padding: 0%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.Main {
  font-family: 'Questrial', sans-serif, 'Helvetica Neue';
  overflow: hidden;
  
}


