.navbar{
    position:relative;
    top: 0%;
    font-size: 1.5em;
    padding: 3%;
    height: 7vh;
    width: 100vw;

    .nav-op1{
        position:fixed;
        left: 2%;
        
    }
    .nav-op2{
        position:fixed;
        right: 2%;
    }
   
}